/* Place CSS styles here */

body {
    background-color:rgb(229, 172, 197)
    
    font-family 'Times New Roman', Times, serif;
    font-size: 36px;

    font-family: GB Garamond, serif;
}
 img{
    width: 250px;
    margin-right: 16px;
    border: 20px solid rgb(162, 7, 33);

}
