/* Place CSS styles here */
head{
    background-color:rgb(229, 172, 197)
}
body {
    font-family 'Times New Roman', Times, serif;
    font-size: 36px;
    font-family: GB Garamond, serif;

}
h1{ 
    color: rgb(162, 7, 33);
    font-weight: bold;
}
 img{
    width: 250px;
    margin: 20px;
    border: 20px solid rgb(162, 7, 33);

}
